<app-header></app-header>
<div class="content">
  <div class="content__text">
    <p>ГОСТ — это государственный стандарт, который формулирует требования государства к качеству продукции, работ и услуг, имеющих межотраслевое значение. ГОСТы устанавливаются на основе применения современных достижений науки, технологий и практического опыта с учетом последних редакций международных стандартов или их проектов. </p>
    <p>Система ГОСТов была разработана и запущена еще в СССР. С 1992 года государственный стандарт Российской Федерации имеет обозначение ГОСТ Р. Он подтверждает, что продукция прошла проверку и отвечает всем требованиям безопасности. В 2003 году государственные стандарты, принятые Госстандартом России до 1 июля 2003 года, признаны национальными.</p>
    <p>В России национальные стандарты имеют добровольное применение, за исключением применения стандартов для оборонной продукции и для защиты сведений, составляющих государственную тайну или иную информацию ограниченного доступа. ГОСТы принимает Госстандарт России, а в области строительства и промышленности строительных материалов — Госстрой России. </p>
  </div>
  <div class="content__button">
    <button mat-raised-button color="primary" (click)="openDialog()">Получить ГОСТ</button>
  </div>
</div>
<app-loader *ngIf="loader"></app-loader>
